<div class='heading'>
  <h2>
    <a href='#!/{{id}}' class="toggleEndpointList" data-id="{{id}}">{{#summary}} {{/summary}}{{{summary}}}</a>
  </h2>
  <ul class='options'>
    {{#if url}}
    <li>
      <a href='{{url}}' data-sw-translate>Raw</a>
    </li>
    {{/if}}
  </ul>
</div>
<ul class='endpoints' id='{{id}}_endpoint_list' style='display:none'>

</ul>
